<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <upload-form></upload-form>
    </v-app>
  </div>

  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      components: {
        'note-grid-collection': httpVueLoader('/components/NoteGridCollection.vue'),
        'note-grid': httpVueLoader('/components/NoteGrid.vue'),
        'upload-form': httpVueLoader('/components/UploadForm.vue'),
        'navbar': httpVueLoader('/components/navbar.vue'),
        'search-bar': httpVueLoader('/components/SearchBar.vue'),
      },
      vuetify: new Vuetify(),
      data: {
        user: {
            name: 'Bob the Builder',
            points: 597
        },
        notes: [
          {
            title: 'Lagrange Transformations',
            author: 'John Doe',
            pdfSrc: 'assets/notes.pdf',
            thumbnailSrc: 'assets/notes.png',
            date: new Date(),
            school: {
              code: 'NYU',
              name: 'New York University'
            },
            course: {
              code: 'MAC1147',
              name: 'Differential Equations'
            },
            labels: [
              'Professor Guile',
              'Math',
              'Hard',
              'Note Caviar',
              'Test Prep',
            ],
            downloadCount: 11,
            favoriteCount: 3,
          },
          {
            title: 'Triggers and Contraints',
            author: 'Andres Holguin',
            pdfSrc: 'assets/notes.pdf',
            thumbnailSrc: 'assets/notes.png',
            date: new Date(),
            school: {
              code: 'UF',
              name: 'University of Florida'
            },
            course: {
              code: 'CIS4301',
              name: 'Intro to Databases'
            },
            labels: [
              'Professor Blanchard',
              'Visual'
            ],
            downloadCount: 654,
            favoriteCount: 321,
          },          
        ]
      },
      methods: {
        previewNote: function(note) {
          this.note = note;
          this.showModal = true;
        }
      }
    })
  </script>
</body>
</html>
