body {
  font-family: 'Roboto';
  font-size: 1rem;
  margin: 0;
  position: relative;
  width: 325px;
}

.bold {
  font-weight: bold;
}

nav {
  align-items: center;
  background-color: #004aad;
  color: white;
  display: flex;
  font-size: 1.75rem;
  height: 55px;
  top: 0;
  width: 100%;
}

nav span {
  margin: 0 0 0 15px;
}

nav img {
  height: 65%;
}

section {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 20px 10px;
}

.card {
  align-items: flex-start;
  background-color: #f9f9f9;
  border: 1px solid #969696;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.heading {
  font-size: 1.2rem;
  margin: 5px 0;
}

button {
  font-size: inherit;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: inherit;
}

#user-info {
  display: none;
}

#gnote-card {
  position: relative;
}

#loading {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#loading img {
  height: 30%;
}

#footer {
  flex-direction: row;
  margin: 0;
}

#footer button:not(:first-child) {
  border-left: 1px solid black;
}

.link {
  background-color: inherit;
  border: none;
  font-size: inherit;
  margin: 0 0 5px 0;
  outline: none;
  padding: 0 10px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#logout-btn {
  display: none;
}