body {
  font-family: 'Coming Soon';
  font-size: 1.25rem;
  margin: 0;
  position: relative;
  width: 350px;
}

.bold {
  font-weight: bold;
}

nav {
  align-items: center;
  background-color: #004aad;
  color: white;
  display: flex;
  font-family: 'Caveat Brush';
  font-size: 3rem;
  height: 75px;
  top: 0;
  width: 100%;
}

nav span {
  margin: 0 0 0 15px;
}

nav img {
  height: 65%;
  margin: 0 0 5px 5px;
  transition: transform .8s ease-in-out;
  -webkit-transition: -webkit-transform .8s ease-in-out;
}

nav img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

section {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 20px 10px;
}

.card {
  align-items: flex-start;
  background-color: #f9f9f9;
  border: 1px solid #969696;
  border-radius: 8px;
  box-shadow: 0 0 5px 2px #d1d1d1;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.heading {
  font-size: 1.4rem;
  margin: 5px 0 5px 5px;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}

input {
  border: 1px solid #597183;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 285px;
}

input:focus {
  box-shadow: 0 0 3px 2px rgba(0, 74, 173, 0.4);
  outline: rgba(0, 74, 173);
}

#user-info {
  display: none;
}

#gnote-card {
  position: relative;
}

#loading {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#loading img {
  height: 30%;
}

#generate-note-btn {
  align-self: flex-end;
}

#footer {
  flex-direction: row;
  margin: 0;
}

#footer button:not(:first-child) {
  border-left: 1px solid black;
}

.link {
  background-color: inherit;
  border: none;
  font-size: 1rem;
  margin: 0 0 5px 0;
  outline: none;
  padding: 0 10px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#logout-btn {
  display: none;
}