.no-pad {
  padding: 0;
}

.no-wrap-fix {
  hyphens: auto;
  overflow-wrap: anywhere;
  text-align: center;
  word-wrap: break-word;
  word-break: normal;
}

.spacer {
  margin: 10px;
}

.white-text {
  color: white;
}

.container {
  margin: 0 0 50px 0;
}

#find-btn {
  font-size: 1.25rem;
  height: auto;
  padding: 8px 23px;
}

#laptop-img {
  max-width: 600px;
}

.wave {
  background-color: #1565C0;
  position: relative;
}

.wave:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: url('/assets/wave.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-height: 850px) {
  .lg-spacer {
    margin: 100px;
  }

  .md-spacer {
    margin: 20px;
  }

  #info {
    height: 700px;
  }

  #laptop-img {
    margin-top: -320px;
  }
}

@media only screen and (min-width: 1750px) {
  #laptop-img {
    max-width: 800px;
  }
  .wave:before {
    height: 425px;
  }
}