body {
  margin: 0 auto;
}

input {
  font-size: inherit;
}

input[type="text"],
textarea {
  padding: 5px 10px;
}

label {
  font-size: 1.25rem;
}

div#my-nav {
  height: 80px;
}

.required {
  color: red;
  font-weight: bold;
}

#form-content {
  font-size: 1rem;
  margin: 25px;
}

.form-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}