<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
  </head>
  <body>
    <div id="my-app">
      <navigation :user="user"></navigation>
    </div>
    <script>
      new Vue({
        el: '#my-app',
        components: {
          'navigation': httpVueLoader('navbar.vue')
        },
        props: {
          user: {
            type: Object,
            default: function() {
              return {
                name: 'Bob the Builder',
                points: 597
              }
            }
          }
        }
      });
    </script>
  </body>
</html>