body {
  background-color: #ededed;
  color: #424242;
  font: 1rem 'Roboto';
  margin: 0;
}

h1 {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.67em;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.83em 0 0 0;
}

#nav {
  background-color: #004aad;
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
}

#nav-over {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  height: 80px;
  position: relative;
  top: 0;
  width: 100%;
}

#title {
  color: white;
  font: bold 2.5rem 'Roboto';
  margin: 5px 20px;
}

#action-items {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: auto;
}

.dropdown {
  height: 100%;
}

#dropdown-button {
  height: 100%;
}

#dropdown-button:focus {
  box-shadow:none;
}

#profile-button-img {
  height: 100%;
}

#profile-selector:hover {
  text-decoration: none;
}

#profile-selector:focus {
  box-shadow: none;
}

/* #dropdown {
  height: 100%;
  margin: 0 20px;
}

#profile-container {
  align-items: center;
  display: flex;
  height: 100%;
}

#profile-container img {
  height: 85%;
  position: relative;
}

#profile-container img:hover {
  cursor: pointer;
} */

#dropdown-menu {
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin: 5px 5px 0 0px;
  padding: 12px 16px;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 1;
}

#dropdown-menu.show {
  display: flex;
}

#dropdown-menu img {
  align-self: center;
  height: 115px;
  margin: 0 0 15px 0;
}

#dropdown-name {
  font: bold 1.75rem 'Roboto';
}

#dropdown-points {
  font: 1.5rem 'Roboto';
}

.link {
  font: 1.25rem 'Roboto';
  margin: 20px 0 -15px 0;
}

@media only screen and (min-width: 1750px) {
  #dropdown-menu {
    height: 450px;
    width: 400px;
  }

  #dropdown-menu img {
    height: 150px;
  }

  #dropdown-name {
    font-size: 2.5rem;
  }

  #dropdown-points {
    font-size: 2rem;
  }

  .link {
    font-size: 1.5rem;
  }
}

#post-action {
  color: white;
  font: 1.5rem 'Roboto';
}

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 100%;
}

#form-outline {
  background-color: white;
  /* border: 1px solid #7a7a7a; */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 20px 10px 20px;
  width: 80%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

#right {
  width: 40%;
}

#left {
  width: 60%;
}

.required {
  color: red; 
}

input,
textarea {
  font-size: 1.1rem;
  padding: 0.5rem;
}

textarea {
  font-family: 'Roboto';
  width: 75%;
}

input[type="text"] {
  min-width: 30%;
}

input:read-only {
  background-color: #cccccc;
}

.profile-img-container {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* border-radius: 50%; */
}

.profile-img-container img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}